<!DOCTYPE html>
<html lang="en">
    <head>
                <!-- Custom styles (see css folder) -->
                {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'BookFair/css/base.css' %}">

        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>{% block title %} Django App{% endblock %}</title>

        <!-- I had to install bootstrap5 this way. -->
        {% load bootstrap5 %}
        {% bootstrap_css %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary">
            <a class="navbar-brand" href="#">
                {% load static %}
                <img src="{% static 'BookFair/svg/logo-outline.svg' %}" height="40px" alt="eBookFair">
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                araia-controls="navbarNav"
                araia-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown">
                    <button class="btn text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Store 
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Category1</a></li>
                        <li><a class="dropdown-item" href="#">Category2</a></li>
                        <li><a class="dropdown-item" href="#">Category3</a></li>
                    </ul>
            </div>
        </nav>
        <div class="container">{% block content %} {% endblock %}</div>

        <!-- jQuery and Bootstrap Bundle (includes Popper) -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.3.slim.min.js"></script> -->
        <!-- script src="https://stckpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min" -->

        {% bootstrap_javascript %}
    </body>