<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>{% block title %} Django App{% endblock %}</title>

        <!-- load django apps -->
        {% load bootstrap5 %}
        {% load static %}
        {% load bootstrap_icons %}

        <!-- Custom styles (see css folder) -->
        <link rel="stylesheet" type="text/css" href="{% static 'BookFair/css/base.css' %}">

        {% bootstrap_css %}
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg bg-primary">
            <a class="navbar-brand" href="#">
                {% load static %}
                <img src="{% static 'BookFair/svg/logo-outline.svg' %}" height="40px" alt="eBookFair">
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                araia-controls="navbarNav"
                araia-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Categories -->

            <!-- Search -->
            <form class="d-flex ms-auto" role="search" id="search-box">
                <input class="form-control me-2 bg-primary-subtle text-emphasis" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">{% bs_icon 'search' color='white' %}</button>
            </form>
            <button class="btn">
                {% bs_icon 'person-fill' color='white' %}
            </button>          
        </nav>
        {% endblock navbar %}
        <div class="container">{% block content %} {% endblock %}</div>

        <footer class="bg-light text-primary-subtle p-5">
            <p>
                &copy; 2023 eBookFair Team | <a href="https://github.com/bertshmert/CS3773-Group-5">GitHub</a>
            </p>
            <p>
                Alberto Arias, Rodrigo Davila Castillo, Cristian Lopez, Phillip Moore, Kendall Ramos, Carter Thomas
            </p>
        </footer>

        {% bootstrap_javascript %}
    </body>