{% extends "base.html" %}
<!-- Load django apps -->
{% load static %}
{% load bootstrap5 %}
<!-- Start block -->
{% block content %}
<!-- Product CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'BookFair/css/product.css' %}">
<!-- Product listing -->
<h1 class="my-3">
    {{ category.cat_name }} items
</h1>
<hr>
<div class="container mb-5">
    <div class="row g-3">
        {% if cat_products %}
            {% for product in cat_products %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="{% static 'BookFair/img/product/placeholder.webp' %}">
                            <div class="card-body">
                                <p class="fs-3 mb-0 lh-sm">{{ product.prod_name }}</p>
                                <p class="fs-5">${{ product.prod_price }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}