{% extends "base.html" %}

{% block content %}
<!-- Product stuff -->
<h1 class="my-3">
    {{ category.cat_name }} items
</h1>
<hr>
<div class="container mb-5">
    <div class="row g-3">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card">
                <a href="#">
                    <img class="card-img-top" src="{% static 'BookFair/img/product/placeholder.webp' %}">
                    <div class="card-body">
                        <p class="fs-3 mb-0">Product1</p>
                        <p class="fs-5">$X.XX</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}