{% extends "base.html" %}
<!-- Title -->
{% block title %} Welcome to the eBookFair! {% endblock %}
<!-- Load django apps -->
{% load static %}
{% load bootstrap5 %}

<!-- Content is loaded directly to webpage past this point -->
{% block content %}
<!-- Product CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'BookFair/css/product.css' %}">

<!-- Hero image -->
<img class="img-fluid" src="{% static 'BookFair/img/home/hero.webp' %}">
<!--  -->
<hr>
<!-- Product stuff -->
<h1 class="mb-3">Featured products</h1>
<div class="container mb-5">
    <div class="row g-3">
        {% if featured_products %}
            {% for product in featured_products %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top" src="{% static 'BookFair/img/product/placeholder.webp' %}">
                            <div class="card-body">
                                <span class="badge bg-primary-subtle text-uppercase">ProductCategory</span>
                                <p class="fs-3 mb-0">{{ product.prod_name }}</p>
                                <p class="fs-5">${{ str(product.prod_price) }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
