{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% load bootstrap5 %}

{% block content %}

<div class="container mt-3 mb-0">
    <h1>Log in</h1>
</div>

<div class="container mb-5">
<hr>
    <div class="row">
        <!-- Display message upon successful/unsuccessful signup here -->
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>                              
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form class="row g-3 mt-0 px-5" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
    </div>
    <div class="row">
        <p>No account? <a href="{% url 'signup_profile' %}">Sign up!</a></p>
    </div>
</div>

{% endblock %}