{% extends "base.html" %}
<!-- Load django apps -->
{% load static %}
{% load bootstrap5 %}
<!-- Start block -->
{% block content %}
<!-- Product CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'BookFair/css/product.css' %}">
<!-- Product page container -->
<div class="container mt-4">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="{% static 'BookFair/img/product/placeholder.webp' %}" class="card-img product-image" alt="Product Image">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title">Name</h2>
                    <p class="card-text">Description</p>
                    <p><strong>Price:</strong> $idk</p>
                    <button class="btn btn-success btn-block">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}