{% extends "base.html" %}

{% block title %} My profile {% endblock %}

{% load bootstrap5 %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
                <br>
                <!-- FIXME: create_account_form error debug only -->
                {% if create_account_form.errors %}
                    {% for error in create_account_form.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if create_account_form.non_field_errors %}
                {% for error in create_account_form.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div>                              
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-6 offset-md-3 profile-info">
            <h2 class="text-center">Profile Information</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </div>
{% else %}
{% endif %}

{% endblock %}