{% extends "base.html" %}
<!-- Title -->
{% block title %} Search results | "{{ search.search_query }}" {% endblock %}
<!-- Load django apps -->
{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
<!-- Content is loaded directly to webpage past this point -->
{% block content %}
<!-- Product CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'BookFair/css/product.css' %}">
<!-- Product listing -->
<div class="container d-flex align-items-end justify-content-between">
    <h1 class="mt-3 mb-0">
        Search
    </h1>
    <div class="dropdown">
        <button class="btn bg-primary-subtle text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sort by
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="?sort=name">Name</a></li>
          <li><a class="dropdown-item" href="?sort=price-lh">Price, low to high</a></li>
          <li><a class="dropdown-item" href="?sort=price-hl">Price, high to low</a></li>
          <li><a class="dropdown-item" href="?sort=stock-lh">In stock, low to high</a></li>
          <li><a class="dropdown-item" href="?sort=stock-hl">In stock, high to low</a></li>
        </ul>
      </div>
</div>
<form class="search-box d-flex m-3" role="search" id="searchpage-search-box">
    {{ search_form }}
    <button class="btn bg-primary-subtle" type="submit">{% bs_icon 'search' color='white' size='1.25em' %}</button>
</form>
<hr>
<div class="container mb-5">
    <div class="row g-3">
        {% comment %}
        <!-- {% if cat_products %}
            {% for product in cat_products %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card">
                        <a href="{% url 'product' product.prod_id %}">
                            {% if product.prod_img %}
                                <img class="card-img-top" src="{{ product.prod_img.url }}">
                            {% else %}
                                <img class="card-img-top" src="{% static 'BookFair/img/product/placeholder.webp' %}">
                            {% endif %}
                            <div class="card-body">
                                <p class="fs-3 mb-0 lh-sm">{{ product.prod_name }}</p>
                                <p class="fs-5">${{ product.prod_price }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %} -->
        {% endcomment %}
    </div>
</div>
{% endblock %}