{% extends "base.html" %}

{% block title %} Signup and Profile {% endblock %}

{% load bootstrap5 %}

<style>
    .signup-profile-section {
        margin-top: 50px;
    }

    .profile-info {
        margin-top: 20px;
    }
</style>

{% block content %}
<div class="container signup-profile-section">
        <!-- Display message upon successful/unsuccessful signup here -->
        {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                    <br>
                    <!-- FIXME: create_account_form error debug only -->
                    {% if create_account_form.errors %}
                        {% for error in create_account_form.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if create_account_form.non_field_errors %}
                    {% for error in create_account_form.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                </div>                              
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-6 offset-md-3 profile-info">
            <h2 class="text-center">Profile Information</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </div>
    {% else %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup-tab-pane" type="button" role="tab" aria-controls="signup-tab-pane" aria-selected="true">signup</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="false">login</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="customer-signup-tab" data-bs-toggle="tab" data-bs-target="#customer-signup-tab-pane" type="button" role="tab" aria-controls="customer-signup-tab-pane" aria-selected="false">customer-signup</button>
          </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="signup-tab-pane" role="tabpanel" aria-labelledby="signup-tab" tabindex="0">
            <div class="row">
                <div class="col-md-6 offset-md-3 signup-form">
                    <h2 class="text-center">Sign Up</h2>
                    <form method="post" action="{% url 'signup_profile' %}">
                        {% csrf_token %}
                        {{ create_account_form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
            <div class="row">
                <div class="col-md-6 offset-md-3 login-form">
                    <h2 class="text-center">Log in</h2>
                    <form method="post" action="{% url 'signup_profile' %}">
                        {% csrf_token %}
                        {{ login_account_form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="customer-signup-tab-pane" role="tabpanel" aria-labelledby="customer-signup-tab" tabindex="0">
            <div class="row">
                <div class="col-md-6 offset-md-3 login-form">
                    <h2 class="text-center">Sign up</h2>
                    <form class="row g-3" method="post" action="{% url 'signup_profile' %}">
                        {% csrf_token %}
                        <h3>Sign-in details</h3>
                        <p class="my-0">
                            You'll use these details to log into your account.
                        </p>
                        <div class="col-12">
                            <label for="id_username" class="form-label">{{ customer_signup_form.username.label }}</label>
                            {{ customer_signup_form.username }}
                        </div>
                        <div class="col-md-6">
                            <label for="id_password1" class="form-label">{{ customer_signup_form.password1.label }}</label>
                            {{ customer_signup_form.password1 }}
                        </div>
                        <div class="col-md-6">
                            <label for="id_password2" class="form-label">{{ customer_signup_form.password2.label }}</label>
                            {{ customer_signup_form.password2 }}
                        </div>
                        <hr>
                        <p class="my-0">
                            You'll use these details in your orders.
                        </p>
                        <div class="col-5">
                            <label for="id_first_name" class="form-label">{{ customer_signup_form.first_name.label }}</label>
                            {{ customer_signup_form.first_name }}
                        </div>
                        <div class="col-2">
                            <label for="id_initial_name" class="form-label">{{ customer_signup_form.initial_name.label }}</label>
                            {{ customer_signup_form.initial_name }}
                        </div>
                        <div class="col-5">
                            <label for="id_last_name" class="form-label">{{ customer_signup_form.last_name.label }}</label>
                            {{ customer_signup_form.last_name }}
                        </div>
                        <div class="col-12">
                            <label for="id_email" class="form-label">{{ customer_signup_form.email.label }}</label>
                            {{ customer_signup_form.email }}
                        </div>
                        <div class="col-4">
                            <label for="id_phone_country" class="form-label">{{ customer_signup_form.phone_country.label }}</label>
                            {{ customer_signup_form.phone_country }}
                        </div>
                        <div class="col-8">
                            <label for="id_phone_number" class="form-label">{{ customer_signup_form.phone_number.label }}</label>
                            {{ customer_signup_form.phone_number }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
