:root {
    .bg-primary {
        background-color: #e6000d!important;
    }
    .navbar {
        padding: .5rem!important;
    }
    .text-primary {
        color: #3f0003!important;
    }
    a {
        color: #ca000a!important;
    }
}