:root {
    /* Primary color */
    --bs-primary: #e6000d!important;
    --bs-primary-rgb: 230,0,11!important;

    /* Primary suble */
    --bs-primary-subtle: #630207!important;
}
/* Theme color variables */
.bg-primary-subtle {
    background-color: var(--bs-primary-subtle)!important;
}
.text-primary-subtle {
    color: var(--bs-primary-subtle)!important;
}
/* Navbar items */
.navbar {
    padding: .5rem!important;
}
.nav-link:hover, .nav-link:focus {
    color: var(--bs-primary-subtle)!important;
}
#navbar-row-spacer {
    height: 0.5em;
}
#navbar-col-spacer {
    width: 0.5em;
}
/* Text */
.text-primary {
    color: #3f0003!important;
}
a {
    color: #ca000a!important;
}
/* Search */
#search-box input {
    color: #ffdede!important;
    border: 0!important;
    border-radius: .25em 0em 0em .25em!important;
    margin-right: 2px;
}
#search-box input::placeholder {
    color: #ca000a!important;
}
#search-box button {
    border-radius: 0em .25em .25em 0em!important;
}
/* Dropdown */
.dropdown-item {
    color: var(--bs-primary-subtle)!important;
}
.dropdown-item:active, .dropdown-item:focus {
    color: white!important;
    background-color: var(--bs-primary-subtle)!important;
}