/* Product cards */
.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 20em;
}
.card a {
    color: var(--bs-primary-subtle)!important;
    text-decoration: none;
}
/* Product full page card CSS */
.product-card-full {
    max-width: 60em;
}
.product-image {
    height: 100%;
    object-fit: cover;
}